[submodule "3D-FUTURE-ToolBox"]
	path = 3D-FUTURE-ToolBox
	url = https://github.com/3D-FRONT-FUTURE/3D-FUTURE-ToolBox.git
[submodule "LORA"]
	path = LORA
	url = https://github.com/cloneofsimo/lora.git
